{{ define "main" -}}
<h1>{{ .Title }}</h1>
{{ .Content }}
<div class="posts">
  <h2>Most recent posts</h2>
  <div class="post-boxes">
    {{ range first 3 (where .Data.Pages "Section" "posts") -}}
    <div class="post-box">
      <h3 class="post-title">
        <a href="{{ .Permalink }}">{{ .Title }}</a>
        <span class="post-date">{{ .Date.Format "2006-01-02" }}</span>
      </h3>

      <div>{{ .Description }} <a href="{{ .Permalink }}">Read More &raquo;</a></div>
    </div>
    {{- end }}
  </div>
</div>
<p>Read more posts on the
  <a href='{{ "posts" | relURL }}'>blahg &raquo;</a>
</p>
{{- end }}